#main-navbar{
    background-color: blue;
    overflow: hidden;
  }
#navbar-container{
    float: left;
    width: 100%;
    position: relative;
}
#main-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
}
#main-navbar ul li{
    float: left;
    position: relative;
    right: 50%;
    display: block;
}
#main-navbar ul li a{
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: transform 1500ms ease;
}
#main-navbar ul li a:hover{
    transform: scale(1.25);
    background-color: #000;
    
    
}
#onpage{
    text-decoration: underline overline;
}
h1{
	font-size: 50px;
	color: #ff8800;
	padding: 15px;
	font-family: Times, "Times New Roman";
	text-align: center;
	transition: transform 2000ms ease;
}
h2{
	font-size: 30px;
	color: #ffa136;
	padding: 30px;
	font-family: Times, "Times New Roman";
	text-align: center;
	transition: transform 2000ms ease;
}
body {
   background-color:  #faca93;
}
#Experience {
  float: center;
  padding: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: ridge rgba(255, 158, 184, .6); 
}
