@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
#main-navbar{
    background-color: orange;
    overflow: hidden;
  }
#navbar-container{
    float: left;
    width: 100%;
    position: relative;
}
#main-navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
}
#main-navbar ul li{
    float: left;
    position: relative;
    right: 50%;
    display: block;
}
#main-navbar ul li a{
    display: block;
    padding: 10px 20px;
    color: #fff;
    transition: transform 1.5s ease, color 1.5s ease-in-out, box-shadow 1.5s ease-in-out;
    
}
#main-navbar ul li a:hover{
    transform: scale(1.10);
    box-shadow: inset 10.938rem 0 0 0 rgb(255, 206, 132);
}
#onpage{
    text-decoration: underline overline;
}
p{
  font-family: Times, "Times New Roman";
}
li{
  font-family: Times, "Times New Roman";
}
h1{
	font-size: 4em;
	color: #ff8800;
	padding: .1em;
  font-family: 'Berkshire Swash', cursive;
	text-align: center;
	transition: transform 2000ms ease;
	border: ridge #ffa600; 
  border-width: .2em;
	border-radius: 2em;
	background: #FFFFFF;
  width: 75%;
  margin: auto;
  margin-top: .5em;
}
h2{
	font-size: 2em;
	color: #ffa136;
	padding: .25em;
	font-family: Times, "Times New Roman";
	text-align: center;
	transition: transform 2000ms ease;
}
h3{
	color: #FF9300;
	font-family: Times, "Times New Roman";
	text-align: center;
	transition: transform 2000ms ease;
}

#Experience {
  width: 50%;
  float: left;
  padding: .5em;
  margin-left: .5em;
  margin-bottom:  .5em;
  border: ridge #ffa136; 
  border-width: 10px;
  position: relative;
  transition: transform 2000ms ease;
}
#Experience:hover{
    background-color: rgba(255,255,255,.5);
    border: dotted #ffa136; 
    border-width: 10px;
}
#Skills {
  float: right;
  width: 40%;
  position: relative;
  padding:  .5em;
  margin-left:  .5em;
  margin-right:  .5em;
  margin-top: 0px;
  margin-bottom:  .5em;
  border: ridge #ffa136; 
  border-width: 10px;
}
#Skills:hover{
    background-color: rgba(255,255,255,.5);
    border: dotted #ffa136; 
    border-width: 10px;
}
.IITPictures {
  float: left;
  position: relative;
  padding:  .5em;
  margin-left:  15%;
  margin-bottom:  .5em;
  border: ridge #ffa136; 
  border-width: 10px;
  border-radius: 50%;
  width: 16.5em;
  height: 17em;
  animation-name: picturehover;
  animation-duration: 3s;  
} 
@keyframes picturehover {
  from {bottom: 50em;}
  to {bottom: 0em;}
}
.IITPictures:hover{
    background-color: rgba(255,255,255,.5);
    border: dotted #ffa136; 
    border-width: 10px;
}
#Directions{
  text-align: center;
  list-style-position: inside;
  float: left;
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
  margin-bottom: 5px;
  border: solid rgb(234, 182, 255); 
  border-width: 10px;
  transition: transform 1500ms ease;
}









#Directions:hover{
  transform: scale(1.015);
  background-color: #fde4c7;     
}
#DirectionsPictures{
  position: relative;
  float: left;
  padding: .5em;
  margin-left: .5em;
  margin-right: 1em;
  margin-top: 0px;
  margin-bottom: .5em;
  width: 40em;
  height: 40em;
  border: solid rgb(234, 182, 255); 
  border-width: 10px;
  transition: transform 1500ms ease;
}
#DirectionsPictures:hover{
  transform: scale(1.025);
  background-color: #fde4c7;    
}
.InstructionManual{
  width: 75%;
  height: 75%;
  padding-left: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#DirectionsVideo{
  position: relative;
  float: right;
  padding: .5em;
  margin-left: .5em;
  margin-right: .5em;
  margin-top: 0px;
  margin-bottom: .5em;
  width: 40em;
  height: 40em;
  border: solid rgb(234, 182, 255); 
  border-width: 10px;
  transition: transform 1500ms ease;
}
#DirectionsVideo:hover{
  transform: scale(01.025);
  background-color: #fde4c7;    
}
.InstructionalVideo{
  width: 75%;
  height: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}









#researchpaperBody{
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color:  #CACAFF;
}
#instructionalmanualBody{
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-image: linear-gradient(  to bottom right, rgba(255, 189, 91, 0), rgb(227, 206, 255));
}
#resumeBody{
  background-image: linear-gradient(  to bottom right, rgba(255, 189, 91, 0), rgb(253, 226, 186));
	/*background-color:  #fcd7ae;*/
}
#Paper{
	border: 2px solid orange;
  border-radius: 8px;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;  	
	background-color: #ffffff;    
}
#References{
	border: 2px solid orange;
  border-radius: 8px;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: #ffffff;    
}
#graph{
	border: 2px solid orange;
  	border-radius: 8px;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: #ffffff;   
	text-align: center;
}
